.container {
  display: flex;
  justify-content: space-between;
}
.searchBox {
  width: 50%;
  margin: auto;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: var(--border-radius);
}
.searchBox input {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
}
.searchBox input:focus {
  border: none;
  outline: none;
}
.searchBox button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 450px) {
  .container {
    flex-direction: column-reverse;
  }
  .searchBox {
    width: 80%;
  }
}
